#
# You can add personal rules in your file .git/info/exclude
*.swp
*~
\#*#
.#*
.edts
*.dump
/Makefile
/config.log
/config.status
/configure
/aclocal.m4
/contrib/extract_translations/extract_translations.beam
/*.cache
/deps/
/doc/*.aux
/doc/*.haux
/doc/*.html
/doc/*.htoc
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.toc
/doc/contributed_modules.tex
/doc/version.tex
/doc/xep-*
/ebin/
/ejabberd.init
/ejabberdctl.example
/include/XmppAddr.hrl
/include/PKIX1Explicit88.hrl
/include/PKIX1Implicit88.hrl
/include/OCSP.hrl
/rel/ejabberd/
/src/XmppAddr.asn1db
/src/XmppAddr.erl
/src/ejabberd.app.src
/src/eldap_filter_yecc.erl
/src/OCSP.erl
/src/OCSP.asn1db
/src/PKIX1Explicit88.asn1db
/src/PKIX1Implicit88.asn1db
/src/PKIX1Explicit88.erl
/src/PKIX1Implicit88.erl
/vars.config
/priv/lib
/c_src/*.o
/dialyzer/
/test/*.beam
/test/*.ctc
/test/ejabberd_SUITE_data/openssl-copy.cnf
/logs/
/priv/sql
/rel/ejabberd
/_build
/mnesiadb
/.rebar
